[Desktop Entry]
Type=Application
Version=1.0
Name=OpenKJ KaraokeHost
Comment=Karaoke Hosting Software
Exec=/usr/bin/KaraokeHost
Icon=/usr/share/pixmaps/khicon-144x144.png
Terminal=false
Categories=AudioVideo;Audio;Player;
