Source: openkj
Section: video 
Priority: optional
Maintainer: Isaac Lightburn <isaac@hozed.net>
Build-Depends: cmake, libspdlog-dev, qt5-default, qttools5-dev-tools, qtbase5-dev, qtmultimedia5-dev, libqt5svg5-dev, qttools5-dev, qt5-qmake, libtag1-dev, libtag-extras-dev, libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev, libqt5opengl5-dev, libpulse-dev, debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.openkj.org
#Vcs-Git: git://anonscm.debian.org/collab-maint/openkj.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/openkj.git

Package: openkj
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libspdlog1, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly, gstreamer1.0-libav, unzip, libtag1v5, libtag-extras1, libqt5sql5-sqlite, libqt5svg5, pulseaudio, gstreamer1.0-pulseaudio, fonts-roboto
Description: OpenKJ karaoke hosting software
 Open source karaoke hosting software targeted at professional KJs. 
