[Desktop Entry]
Type=Application
Version=1.0
Name=OpenKJ
Comment=Karaoke Hosting Software
Exec=openkj
Icon=/usr/share/icons/hicolor/scalable/org.openkj.OpenKJ.svg
Terminal=false
Categories=AudioVideo;Audio;Player;
