name: Update versions from tag

on:
  push:
    tags:
      - '*.*.*'

jobs:
  update-build-files:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - id: get_version
        uses: battila7/get-version-action@v2

      - name: Setup OpenKJ verion env vars
        run: |
          BRANCH=${GITHUB_REF##*/}
          if [ "$BRANCH" = "master" ];then
            RTYPE="unstable"
          elif [ "$BRANCH" = "stable" ];then
            RTYPE="release"
          else
            RTYPE=$BRANCH
          fi
          OKJVER=`grep VERSION_STRING src/okjversion.h | cut -d'"' -f2`

          if [ "${{ steps.get_version.outputs.is-semver }}" = "true" ];then
            if [ "${{ steps.get_version.outputs.prerelease }}" = "" ];then
              RTYPE="release"
              BRANCH="stable"
            elif [ "${{ steps.get_version.outputs.prerelease }}" = "unstable" ];then
              RTYPE="unstable"
              BRANCH="master"
            else
              RTYPE=${{ steps.get_version.outputs.prerelease }}
              BRANCH="master"
            fi
            OKJVER=${{ steps.get_version.outputs.version-without-v }}
          fi
          BLDDATE=$(date +'%Y-%m-%d')
          echo "branch=${BRANCH}" >> $GITHUB_ENV
          echo "rtype=${RTYPE}" >> $GITHUB_ENV
          echo "okjver=${OKJVER}" >> $GITHUB_ENV
          echo "blddate=${BLDDATE}" >> $GITHUB_ENV
          echo "OpenKJ Version: $OKJVER"
        shell: bash

      - name: Update Windows installer config files
        run: |
          sed -i "s/#define MyAppVersion.*/#define MyAppVersion \"${{ steps.get_version.outputs.version-without-v }}\"/" cd/openkj32.iss
          sed -i "s/#define MyAppVersion.*/#define MyAppVersion \"${{ steps.get_version.outputs.version-without-v }}\"/" cd/openkj64.iss

      - name: Update okjversion.h
        run: |
          echo "Updating okjversion.h"
          echo "#ifndef OKJVERSION_H" > src/okjversion.h
          echo "#define OKJVERSION_H" >> src/okjversion.h
          echo >> src/okjversion.h
          echo "#define OKJ_VERSION_MAJOR ${{ steps.get_version.outputs.major }}" >> src/okjversion.h
          echo "#define OKJ_VERSION_MINOR ${{ steps.get_version.outputs.minor }}" >> src/okjversion.h
          echo "#define OKJ_VERSION_BUILD ${{ steps.get_version.outputs.patch }}" >> src/okjversion.h
          echo "#define OKJ_VERSION_STRING \"${{ steps.get_version.outputs.major }}.${{ steps.get_version.outputs.minor }}.${{ steps.get_version.outputs.patch }}\"" >> src/okjversion.h
          echo "#define OKJ_VERSION_BRANCH \"${{ env.rtype }}\"" >> src/okjversion.h
          echo >> src/okjversion.h
          echo "#endif //OKJVERSION_H" >> src/okjversion.h

      - name: Update appstream xml with git tag version
        run: |
          sed -i "s/<release version=.*/<release version=\"${{ steps.get_version.outputs.major }}.${{ steps.get_version.outputs.minor }}.${{ steps.get_version.outputs.patch }}\" date=\"${{ env.blddate }}\">/" src/org.openkj.OpenKJ.metainfo.xml

      - name: Commit changes to repo
        uses: test-room-7/action-update-file@v1
        with:
          file-path: |
            src/okjversion.h
            cd/openkj32.iss
            cd/openkj64.iss
            src/org.openkj.OpenKJ.metainfo.xml
          commit-msg: Auto commit - update version from git tag
          github-token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ env.branch }}
