name: Create MacOS Build & Installer

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build:
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: lukka/get-cmake@latest

    - name: Get version from git tag
      id: get_version
      uses: battila7/get-version-action@v2

    - name: Get OpenKJ version being buit
      run: |
        if [ "${{ steps.get_version.outputs.prerelease }}" = "" ];then
          RTYPE="release"
          BRANCH="release"
        elif [ "${{ steps.get_version.outputs.prerelease }}" = "unstable" ];then
          RTYPE="unstable"
          BRANCH="unstable"
        else
          RTYPE=${{ steps.get_version.outputs.prerelease }}
          BRANCH="unstable"
        fi
        OKJVER=${{ steps.get_version.outputs.version-without-v }}
        FN="OpenKJ-${OKJVER}-osx-installer.pkg"
        echo "installer_fn=${FN}" >> $GITHUB_ENV
        echo "rtype=${RTYPE}" >> $GITHUB_ENV
        echo "branch=${BRANCH}" >> $GITHUB_ENV

    - name: Update files with new version info
      if: steps.get_version.outputs.is-semver == 'true'
      run: |
        MAJOR=${{ steps.get_version.outputs.major }}
        MINOR=${{ steps.get_version.outputs.minor }}
        PATCH=${{ steps.get_version.outputs.patch }}
        BRANCH=${{ env.rtype }}

        echo "Updating okjversion.h"
        echo "#ifndef OKJVERSION_H" > src/okjversion.h
        echo "#define OKJVERSION_H" >> src/okjversion.h
        echo >> src/okjversion.h
        echo "#define OKJ_VERSION_MAJOR ${{ steps.get_version.outputs.major }}" >> src/okjversion.h
        echo "#define OKJ_VERSION_MINOR ${{ steps.get_version.outputs.minor }}" >> src/okjversion.h
        echo "#define OKJ_VERSION_BUILD ${{ steps.get_version.outputs.patch }}" >> src/okjversion.h
        echo "#define OKJ_VERSION_STRING \"${{ steps.get_version.outputs.major }}.${{ steps.get_version.outputs.minor }}.${{ steps.get_version.outputs.patch }}\"" >> src/okjversion.h
        echo "#define OKJ_VERSION_BRANCH \"${{ env.rtype }}\"" >> src/okjversion.h
        echo >> src/okjversion.h
        echo "#endif //OKJVERSION_H" >> src/okjversion.h
      shell: bash

    - name: Setup Signing Keychain
      uses: apple-actions/import-codesign-certs@v1
      with: 
        p12-file-base64: ${{ secrets.MACOS_SIGNING_CERTS_P12 }}
        p12-password: ${{ secrets.MACOS_SIGNING_CERTS_PASS }}
    
    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v1
      with:
       path: ../Qt
       key: ${{ runner.os }}-QtCache

    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
       cached: ${{ steps.cache-qt.outputs.cache-hit }}

    - name: Cache GStreamer
      id: cache-gstreamer
      uses: actions/cache@v2
      with:
        path: '/Library/Frameworks/GStreamer.framework'
        key: ${{ runner.os }}-gstreamer

    - name: Cache GStreamer dist
      id: cache-gstreamer-dist
      uses: actions/cache@v2
      with:
        path: '/Library/Frameworks/GStreamer.framework.dist'
        key: ${{ runner.os }}-gstreamer-dist

    - name: Download GST Installer
      if: steps.cache-gstreamer.outputs.cache-hit != 'true'
      uses: carlosperate/download-file-action@v1.0.3
      id: download-gst
      with:
        file-url: 'https://gstreamer.freedesktop.org/data/pkg/osx/1.16.3/gstreamer-1.0-1.16.3-x86_64.pkg'
        file-name: 'gstreamer-1.0-1.16.3-x86_64.pkg'
        location: './downloads'

    - name: Download GST-Dev Installer
      if: steps.cache-gstreamer-dist.outputs.cache-hit != 'true'
      uses: carlosperate/download-file-action@v1.0.3
      id: download-gst-dev
      with:
        file-url: 'https://gstreamer.freedesktop.org/data/pkg/osx/1.16.3/gstreamer-1.0-devel-1.16.3-x86_64.pkg'
        file-name: 'gstreamer-1.0-devel-1.16.3-x86_64.pkg'
        location: './downloads'

    - name: Install GST
      if: steps.cache-gstreamer.outputs.cache-hit != 'true'
      run: |
        sudo installer -package ${{ steps.download-gst.outputs.file-path }} -target /
        sudo cp -R /Library/Frameworks/GStreamer.framework /Library/Frameworks/GStreamer.framework.dist
        sudo installer -package ${{ steps.download-gst-dev.outputs.file-path }} -target /

    - name: Install OSX Relocator
      run: |
        echo "/Library/Frameworks/Python.framework/Versions/2.7/bin" >> $GITHUB_PATH
        pip2 install osxrelocator
      
    - name: Create Build Dir
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      working-directory: ${{github.workspace}}/build
      run: |
        cmake .. -DCMAKE_BUILD_TYPE=Release -DBUNDLE_GSTREAMER=True -DMAC_SIGNING_IDENTITY=47W8CPBS5A -G Ninja

    - name: Build
      working-directory: ${{github.workspace}}/build
      run: cmake --build . --parallel 4
      
    - name: Sign app bundle
      working-directory: ${{github.workspace}}/build
      run: |
        codesign -s "Developer ID Application: Isaac Lightburn (47W8CPBS5A)" --identifier "org.freedesktop.gstreamer" --timestamp openkj.app/Contents/Frameworks/GStreamer.framework
        codesign --force -s "Developer ID Application: Isaac Lightburn (47W8CPBS5A)" --identifier "org.openkj.openkj" --timestamp openkj.app

    - name: Create installer
      working-directory: ${{github.workspace}}/build
      run: |
        mkdir -p fakeroot/Applications
        mv "openkj.app" fakeroot/Applications/OpenKJ.app
        pkgbuild --root "fakeroot" --component-plist ../macos/openkj.plist --identifier "org.openkj.openkj" --sign "Developer ID Installer: Isaac Lightburn (47W8CPBS5A)" ${{ env.installer_fn }}

#  Disabled notarization because gstreamer doesn't ship hardened runtimes so it's pointelss to try as long as we're bundling gstreamer
#    - name: "Notarize Release Build"
#      uses: devbotsxyz/xcode-notarize@v1
#      with:
#        product-path: ${{ github.workspace }}/build/${{ env.installer_fn }}
#        primary-bundle-id: org.openkj.openkj
#        appstore-connect-username: ${{ secrets.APPLE_APP_STORE_CONNECT_USER }}
#        appstore-connect-password: ${{ secrets.APPLE_APP_STORE_CONNECT_PASS }}

#    - name: "Staple Release Build"
#      uses: devbotsxyz/xcode-staple@v1
#      with:
#        product-path: ${{ github.workspace }}/build/${{ env.installer_fn }}

    - name: Upload to OpenKJ website
      id: upload_installer
      if: steps.get_version.outputs.is-semver == 'true'
      uses: google-github-actions/upload-cloud-storage@main
      with:
        credentials: ${{ secrets.gcp_credentials }}
        path: ${{ github.workspace }}/build/${{ env.installer_fn }}
        destination: openkj-installers/macos/${{ env.branch }}

    - name: Release
      uses: softprops/action-gh-release@v1
      if: steps.get_version.outputs.is-semver == 'true'
      with:
        files: ${{ github.workspace }}/build/${{ env.installer_fn }}
        prerelease: ${{ env.rtype != 'release' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}