name: Windows 64bit Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ win32-autobuild, master, release ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build64:
    name: Windows 32bit Build
    # The type of runner that the job will run on
    # runs-on: [ self-hosted, Windows, azure ]
    runs-on: windows-2019

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: Download GST Installer
      uses: carlosperate/download-file-action@v1.0.3
      id: download-gst
      with:
        file-url: 'https://gstreamer.freedesktop.org/data/pkg/windows/1.14.5/gstreamer-1.0-x86-1.14.5.msi'
        file-name: 'gstreamer.msi'
        location: './downloads'

    - name: Download GST-Dev Installer
      uses: carlosperate/download-file-action@v1.0.3
      id: download-gst-dev
      with:
        file-url: 'https://gstreamer.freedesktop.org/data/pkg/windows/1.14.5/gstreamer-1.0-devel-x86-1.14.5.msi'
        file-name: 'gstreamer-devel.msi'
        location: './downloads'

    - name: Download InfoZip Binary
      uses: carlosperate/download-file-action@v1.0.3
      id: download-infozip
      with:
        file-url: 'https://storage.googleapis.com/okj-installer-deps/unzip.exe'
        file-name: unzip.exe
        location: /downloads

    - name: Download OpenSSL dll files
      uses: carlosperate/download-file-action@v1.0.3
      id: download-openssl
      with:
        file-url: 'https://storage.googleapis.com/okj-installer-deps/ssl-x86-1.1.1.zip'
        file-name: openssl.zip
        location: /downloads

    - name: Download Roboto Bold
      uses: carlosperate/download-file-action@v1.0.3
      id: download-roboto-bold
      with:
        file-url: 'https://storage.googleapis.com/okj-installer-deps/Roboto-Bold.ttf' 
        file-name: Roboto-Bold.ttf
        location: /downloads

    - name: Download Roboto Medium
      uses: carlosperate/download-file-action@v1.0.3
      id: download-roboto-medium
      with:
        file-url: 'https://storage.googleapis.com/okj-installer-deps/Roboto-Medium.ttf' 
        file-name: Roboto-Medium.ttf
        location: /downloads

    - name: Download Roboto Regular
      uses: carlosperate/download-file-action@v1.0.3
      id: download-roboto-regular
      with:
        file-url: 'https://storage.googleapis.com/okj-installer-deps/Roboto-Regular.ttf' 
        file-name: Roboto-Regular.ttf
        location: /downloads

    - name: Download Source Code Pro Medium
      uses: carlosperate/download-file-action@v1.0.3
      id: download-source-code-pro-medium
      with:
        file-url: 'https://storage.googleapis.com/okj-installer-deps/SourceCodePro-Medium.ttf' 
        file-name: SourceCodePro-Medium.ttf
        location: /downloads

    - name: Install GST
      run: |
        cmd /c start /wait msiexec /package ${{ steps.download-gst.outputs.file-path }} /passive ADDLOCAL=ALL
        
    - name: Make dist copy of gstreamer
      run: |
        cp -Rv c:/gstreamer ./gstreamer-dist
      shell: bash

    - name: Install GST-Dev
      run: |
        cmd /c start /wait msiexec /package ${{ steps.download-gst-dev.outputs.file-path }} /passive ADDLOCAL=ALL
    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v1
      with:
       path: ../Qt
       key: ${{ runner.os }}-QtCache-5.15.2-32

    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
       cached: ${{ steps.cache-qt.outputs.cache-hit }}
       version: '5.15.2'
       arch: win32_msvc2015
       modules: 'core gui sql network widgets concurrent svg printsupport'

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Set up Visual Studio shell
      uses: egor-tensin/vs-shell@v2
      with:
        arch: x32

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: cmd
      working-directory: ${{github.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: |
        cmake .. -DCMAKE_BUILD_TYPE=Release -G Ninja
    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Create output dir and copy exe
      run: |
        mkdir output
        copy build\openkj.exe output\
    - name: Run windeployqt
      run: |
        windeployqt --release --compiler-runtime output/openkj.exe
        dir output
      shell: cmd
      
    - name: Copy in gstreamer dependencies
      run: |
        cp -Rv ./gstreamer-dist/1.0/x86/* output/
        cp -v ./gstreamer-dist/1.0/x86/bin/*.dll output/
      shell: bash

    - name: Copy in other dependencies
      run: |
        copy LICENSE output\LICENSE.txt
        copy ${{ steps.download-infozip.outputs.file-path }} output\
        copy ${{ steps.download-roboto-bold.outputs.file-path }} output\
        copy ${{ steps.download-roboto-medium.outputs.file-path }} output\
        copy ${{ steps.download-roboto-regular.outputs.file-path }} output\
        copy ${{ steps.download-source-code-pro-medium.outputs.file-path }} output\
        
        
        7z e -bb3 -y ${{ steps.download-openssl.outputs.file-path }} -o"output\"
    - name: Sign OpenKJ executable
      run: |
        mkdir cscrt
        7z e cd/cscrt.7z -p"${{ secrets.WIN_CSCRT_ARCHIVE_PASS }}" -ocscrt/
        signtool sign /tr http://timestamp.digicert.com /td sha256 /fd sha256 /f cscrt\cscrt.pfx /p "${{ secrets.WIN_CSCRT_PFX_PASS }}" output/OpenKJ.exe
      shell: cmd

    - name: Create Installer
      run: |
        cp cd\openkj32.iss inst.iss
        mkdir installer
        "%programfiles(x86)%\Inno Setup 6\iscc.exe" inst.iss /Oinstaller\
      shell: cmd

    - name: Sign Installer
      run: |
        signtool sign /tr http://timestamp.digicert.com /td sha256 /fd sha256 /f cscrt\cscrt.pfx /p "${{ secrets.WIN_CSCRT_PFX_PASS }}" installer\OpenKJ.exe
      shell: cmd

    - name: Rename Installer
      run: |
        BRANCH=${GITHUB_REF##*/}
        if [ "$BRANCH" = "master" ];then
        RTYPE="unstable"
        else
        RTYPE=$BRANCH
        fi
        OKJVER=`grep VERSION_STRING src/okjversion.h | cut -d'"' -f2`
        echo "OpenKJ Version: $OKJVER"
        IFN=OpenKJ-$OKJVER-32bit-${RTYPE}-setup.exe
        mkdir installer/${BRANCH}
        mv installer/OpenKJ.exe installer/${BRANCH}/${IFN}
      shell: bash

    - name: Installing gcloud console tools
      uses: google-github-actions/setup-gcloud@master
      with:
        version: 'latest'
        service_account_key: ${{ secrets.GCLOUD_KEY }}
        export_default_credentials: true

    - name: Upload to google cloud storage
      run: |
        $env:python_version=$(python -c 'import sys; print(\".\".join(map(str, sys.version_info[:3])))')         
        $env:CLOUDSDK_PYTHON="C:\hostedtoolcache\windows\Python\$env:python_version\x64\python"
        gsutil cp -r installer/* gs://openkj-installers/windows/
